<h1>INFORMACIÓN DEL CÍRCULO CROMÁTICO</h1>

<div>
  <h3>Colores primarios, secundarios y terciarios</h3>

  <strong>Colores Primarios</strong>
  <p>
    Dan origen al nombre del sistema. Estos colores son el rojo, amarillo y el
    azul.
  </p>

  <strong>Colores Secundarios</strong>
  <p>
    Derivan de sus combinaciones, como el verde, que es una mezcla del azul con
    el amarillo, y el violeta, que se produce combinando el rojo y azul.
  </p>

  <strong>Colores terciarios</strong>
  <p>
    Los nombres de los colores terciarios se toman de los colores primarios, y
    el apellido, de los secundarios, por ejemplo, el rojo anaranjado.
  </p>

  <strong>Colores complementarios</strong>
  <p>
    Son colores que se sitúan enfrente de otro en lo que se conoce como la rueda
    de color. Los colores primarios, rojo, amarillo y azul, tienen cada uno su
    color secundario complementario, naranja, verde y violeta.
  </p>

  <strong>Colores cálidos</strong>
  <p>
    Los colores cálidos son aquellos que, en la mayoría de los casos, estimulan
    la fotografía, transmitiendo energía, movimiento, calidez y alegría. Claro
    que todas estas percepciones son generales, puesto que para estas
    tonalidades pueden generar otro tipo de sensaciones, debido a las
    experiencias previas de aquel, que está viendo una determinada fotografía.
  </p>

  <strong>Colores Fríos</strong>
  <p>
    Por su parte, los colores fríos, en términos generales, tienden a producir
    en las personas efectos de relajación. Esto es debido a que las tonalidades
    transmiten, por ejemplo, lejanía, amplitud, tranquilidad, paz y equilibrio.
  </p>

  <h2>Colores complementarios:</h2>
  <strong>Aditivos: </strong>
  <p>
    Color de la luz, la ausencia de luz es negro y la mezcla de todos los
    colores da blanco. Este tipo de color es el modo RGB, por su siglas en
    inglés de los colores rojo, verde y azul. Este modo es el utilizado en
    iluminación y son los que vemos en las pantallas (televisión, monitores,
    celulares, etc)
  </p>

  <strong>Sustractivos: </strong>
  <p>
    Color de los pigmentos o materiales, la ausencia de color es blanco y la
    mezcla de todos los colores da negro. Este tipo de color es el modo CMYK,
    por sus siglas en inglés de los colores cian, magenta, amarillo y negro.
  </p>
</div>
