<div class="container-fluid login-page">
  <div class="row">
    <div class="col-4">
      <div class="login_form-container">
        <img
          src="assets/img/logo-aprendizInk.png"
          alt="Logo Aprendiz Ink"
          class="login_brand-logo"
        />
        <h2 class="login_form_text">
          Aprendiz INK está creado para dominar el arte del tatuaje.
        </h2>
        <div class="login_form_group">
          <form action="">
            <input
              type="text"
              class="login_form_control"
              placeholder="Usuario o Correo electrónico"
            />
            <input
              type="password"
              class="login_form_control"
              placeholder="Contraseña"
            />
            <button type="submit" class="login_form_submit">
              Iniciar Sesión
            </button>
          </form>
          <a href="" class="login_form_remember-password">
            ¿Olvidaste tu contraseña?
          </a>
        </div>
        <span class="login_separator">o</span>
        <span class="login_register_text">¿No tienes una cuenta?</span>
        <button class="login_register_link">
          <span>Crear cuenta nueva</span>
        </button>
      </div>
    </div>
    <div class="col-8"></div>
  </div>
</div>
