<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<p>Traducción del inglés-Un tatuaje es una forma de modificación del cuerpo realizada mediante
    la inserción de tinta, tintes y/o pigmentos para tatuajes, ya sean indelebles
    o temporales, en la capa de la dermis de la piel para formar un diseño.</p>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Traducción del inglés-Un tatuaje es una forma de modificación del cuerpo realizada mediante
        la inserción de tinta, tintes y/o pigmentos para tatuajes, ya sean indelebles
        o temporales, en la capa de la dermis de la piel para formar un diseño.</p>
</body>
</html>