@import '../../variables';
@import '../../helpers';

.guest-page {
    background-color: $background;
    height: 100%;
    padding: calculateRem(50px) calculateRem(60px);
}

.guest_brand-logo {
    width: 60%;
    height: calculateRem(150px);
}

.form-container {
    width: 100%;
    height: calculateRem(580px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calculateRem(11px) calculateRem(50px);
    border: $border-white;
    border-radius: 16px;
}

.form-container_text {
    font-size: $f-size-md-xl;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: $text-white;
}

.form-container_separator {
    display: block;
    width: 100%;
    margin-top: calculateRem(6px);
    color: $text-gray-3;

    &::before {
        content: "";
        display: inline-block;
        width: 34%;
        border-bottom: 1px solid $border-gray-3;
        margin-right: calculateRem(40px);
    }

    &::after {
        content: "";
        display: inline-block;
        width: 34%;
        border-bottom: 1px solid $border-gray-3;
        margin-left: calculateRem(40px);
    }
}

.guest-page_image {
    width: 70%;
    height: 70vh;
    margin: calculateRem(40px) calculateRem(130px);
}



