<h2>RGB:</h2>

<p>
  El modo de color RGB está basado en la suma de los colores lumínicos
  primarios. A esto se le conoce como síntesis aditiva, donde los colores deben
  sumarse para conseguir uno nuevo. Esos colores son el Rojo (Red), el Verde
  (Green) y el Azul (Blue). El color se consigue por espectros de luz y no
  tinta. Los colores se forman mediante la suma de diferentes luces en sus
  diferentes longitudes de onda. El color blanco se consigue mediante la suma de
  los tres colores a partes iguales con la máxima saturación posible. Por otro
  lado, la ausencia de colores primarios nos origina el color negro. El negro es
  la ausencia de luz. Sin luz el ojo no puede percibir color alguno. Este modo
  de color se utiliza mayormente para imágenes y elementos gráficos que
  necesiten reproducirse en canales digitales. No debe usarse para sistemas de
  impresión. Las imágenes RGB contienen un total de 24 bits por pixel y usan 3
  canales de información, uno por cada color. El valor de los canales oscila
  entre 1 y 255.
</p>

<h2>CMYK</h2>
<p>
  El formato de color CMYK está basado en la sustracción del blanco usando para
  ello mezclas de pigmentos. Es lo que se conoce como síntesis sustractiva. Los
  colores sustractivos primarios para este modo de color son Cian (Cyan),
  Magenta (Magenta), Amarillo (Yellow) y Negro (Black). En el modo de color CMYK
  se combinan los pigmentos o colores sustractivos primarios para obtener el
  resto de colores. Hace uso del Cian, Magenta, Amarillo y el Negro. Éste último
  siempre aporta cuerpo y fuerza. También puede utilizarse para acentuar el tono
  o dar profundidad a la impresión. Este modo de color se utiliza mayormente
  para imágenes y elementos gráficos que necesiten ser impresos sobre un medio
  físico. Las imágenes en CMYK contienen un total de 32 bits por cada pixel,
  haciendo uso de 4 canales de información, uno por cada color. El valor de los
  canales oscila entre 1 y 100.
</p>
