<h2>¿Cuál es el origen de esta herramienta?</h2>
<p>
  El primer círculo cromático que se creó fue producto de los experimentos que
  realizó, entre 1665 y 1666, Isaac Newton. Él observó que la luz del sol que
  pasaba a través de un prisma se descomponía en una serie de colores. En este
  círculo, los colores son llamados “colores luz” por el proceso de formación
  que explicamos. Sin embargo, a la hora de pintar, teñir o imprimir, el círculo
  cromático que se utiliza es el sustractivo, llamado CMYK. Ya no se trata de
  colores formado por refracciones de luz sino por combinación de pigmentos. A
  la hora de mezclar colores en paletas, en base a estos pigmentos, no se
  utilizan el rojo, el azul y el amarillo sino que se toman como primarios el
  magenta, el cian y el amarillo. Esto se debe a que el magenta y el cian son
  más puros en cuanto a tinte. A partir de la mezcla de estos se obtienen los
  secundarios y terciarios.
</p>
