<div class="login_form_group">
  <form (ngSubmit)="onSubmit()">
    <input
      [(ngModel)]='email'
      type="email"
      name="email"
      class="login_form_control"
      placeholder="Correo electrónico"
    />
    <input
      [(ngModel)]='password'
      type="password"
      name="password"
      class="login_form_control"
      placeholder="Contraseña"
    />
    <button type="submit" class="login_form_submit">Iniciar Sesión</button>
  </form>
  <a href="" class="login_form_remember-password">
    ¿Olvidaste tu contraseña?
  </a>
</div>
