<div class="register_form_group">
    <form action="">
      <input
        type="text"
        class="login_form_control"
        placeholder="Nombre completo"
      />
      <input
        type="email"
        class="login_form_control"
        placeholder="Correo electrónico"
      />
      <input
        type="password"
        class="login_form_control"
        placeholder="Contraseña"
      />
      <input
        type="password"
        class="login_form_control"
        placeholder="Confirmar Contraseña"
      />
      <button type="submit" class="login_form_submit">
        Registrar cuenta
      </button>
    </form>
  </div>