<div class="form-group">
  <form>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      class="form-control"
      placeholder="Correo Electrónico"
    />
    <input
      type="password"
      name="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Contraseña"
    />
    <button type="submit" class="form-submit">
        Iniciar Sesión
    </button>
  </form>
  <a href="" class="remember-password">
    ¿Olvidaste tu contraseña?
  </a>
</div>
