<h1>CÍRCULO CROMÁTICO</h1>

<p>
  El círculo cromático o rueda de colores representan de manera gráfica,
  ordenada y circulas, lo colores que son visibles al ojo humano, conforme a su
  matiz o tono, distinguiendo lo que son los colores primarios y sus variantes.
  Está compuesto de 12 colores basados en el sistema RGB, es decir, red, green y
  blue (rojo, verde y azul).

  El círculo cromático nos ayuda a entender y a
  visualizar todos los colores a la vez, al tiempo que nos permite ubicar las
  armonías. Luego, es útil para comprender por qué algunos tonos funcionan entre
  sí, combinan bien y terminan haciendo más fácil que las paletas funcionen.
  Para decirlo brevemente, se trata de resumir visualmente cómo se comportan los
  colores y cómo dialogan entre sí, lo cual hace todo más fácil a la hora de
  utilizarlos. La importancia de esta comprensión no es sólo estética o técnica,
  es también parte de los procesos que nos ayudan a expresar emociones.
</p>
