<div class="content_navbar">
    <img src="/assets/img/logo-aprendizInk.png" alt="Logo Aprendiz Ink" class="content_navbar_logo">
    <div class="content_navbar_options">
        <div class="content_navbar_options_item no-border">
            <span>Circulo Cromatico</span>
        </div>
        <div class="content_navbar_options_item">
            <span>Herramientas de trabajo</span>
        </div>
        <div class="content_navbar_options_item">
            <span>Anatomía del cuerpo</span>
        </div>
        <div class="content_navbar_options_item">
            <span>Estilos de tatuaje</span>
        </div>
    </div>
    <input type="search" class="content_navbar_search" placeholder="Buscar">
</div>
