@use 'colors' as *;

//Backgrounds
$background: $dark-blue; 
$background-gray: $gray-3;

//Text
$text-white: $white;
$text-black: $black;
$text-gray: $gray-2;

//Border colors
$border-white: $white;
$border-gray-1: $gray-1;
$border-gray-2: $gray-2;
$border-gray-3: $gray-3;
$border-gray-4: $gray-4;
